{
    "Visa Library Path": "@py",
    "Instruments":
    {
        "Laser":
        [
            {"visa": "GPIB0::23::INSTR", "class": "LaserMainframeKeysight", "channels": [0]}
        ],
        "Power Meter":
        [
            {"visa": "None", "class": "PowerMeterKoheronPD10R", "channels": [0], "args":{"lj_port": "AIN0"}},
            {"visa": "None", "class": "PowerMeterKoheronPD10R", "channels": [1], "args":{"lj_port": "AIN1"}},
            {"visa": "None", "class": "PowerMeterKoheronPD10R", "channels": [2], "args":{"lj_port": "AIN2"}},
            {"visa": "None", "class": "PowerMeterKoheronPD10R", "channels": [3], "args":{"lj_port": "AIN3"}}
        ]        
    }
}