{
    "Visa Library Path": "@py",
    "Instruments":
    {
        "Laser":
        [
            {"visa": "GPIB0::23::INSTR", "class": "LaserMainframeKeysight", "channels": [0]}
        ],
        "Power Meter":
        [
            {"visa": "None", "class": "PowerMeterKoheronPD10R", "channels": []}
        ]        
    }
}