{
    "Visa Library Path": "@ivi",
    "Instruments":
    {
        "Laser":
        [
            {"visa": "GPIB0::14::INSTR", "class": "LaserMainframeKeysight", "channels": [0]},
            {"visa": "None", "class": "LaserSimulator", "channels": [0,1,2,3,4]}
        ],
        "Power Meter":
        [
            {"visa": "None", "class": "PowerMeterSimulator", "channels": [1,2,3,4]},
            {"visa": "None", "class": "PowerMeterKoheronPD10R", "channels": [0], "args":{"lj_port": "AIN0"}},
            {"visa": "None", "class": "PowerMeterKoheronPD10R", "channels": [1], "args":{"lj_port": "AIN1"}},
            {"visa": "None", "class": "PowerMeterKoheronPD10R", "channels": [2], "args":{"lj_port": "AIN2"}},
            {"visa": "None", "class": "PowerMeterKoheronPD10R", "channels": [3], "args":{"lj_port": "AIN3"}},
            {"visa": "None", "class": "PowerMeterKoheronPD10R", "channels": [8], "args":{"lj_port": "AIN8"}},
            {"visa": "None", "class": "PowerMeterKoheronPD10R", "channels": [9], "args":{"lj_port": "AIN9"}}
        ],
        "Camera":
        [
            {"visa": "None", "class": "CameraThorLabsCS165CU", "channels": [0], "args":{"sn": "13434"}}
        ],
         "OVA":
        [
            {"visa": "None", "class": "OpticalVectorAnalyzer", "channels": [0]}
        ]        
    },
    "Mover":
    {
        "ThorlabsKCube": 
        [
            {"axis": "X", "sns": 27265733},
            {"axis": "Y", "sns": 27265718},
            {"axis": "Z", "sns": 27258551}
        ]
    }
}