{
    "Visa Library Path": "@ivi",
    "Instruments":
    {
        "Laser":
        [
            {"visa": "GPIB0::1::INSTR", "class": "LaserSantecTSL570", "channels": [0]}
        ],
        "Switch":
        [
            {"visa": "None", "class": "SwitchDiconGP800", "channels": [0], "args":{"hostname": "gp800-ea6a", "port": 22, "username": "gp800admin", "password": "gp800admin"}}
        ]        
    },
    "Mover":
    {
        "ThorlabsKCube": 
        [
            {"axis": "X", "sns": 27265733},
            {"axis": "Y", "sns": 27265718},
            {"axis": "Z", "sns": 27258551}
        ]
    }
}