{
    "Visa Library Path": "@ivi",
    "Instruments":
    {
        "Laser":
        [
            {"visa": "GPIB0::1::INSTR", "class": "LaserSantecTSL570", "channels": [0]}
        ],
        "Power Meter":
        [
            {"visa": "None", "class": "PowerMeterKoheronPD10R", "channels": [0,1], "args":{"lj_ports": ["AIN0","AIN1"]}}
        ],
        "Camera":
        [
            {"visa": "None", "class": "CameraThorLabsCS165CU", "channels": [0], "args":{"sn": "13434"}}
        ],
         "OVA":
        [
            {"visa": "None", "class": "OpticalVectorAnalyzer", "channels": [0]}
        ]        
    },
    "Mover":
    {
        "ThorlabsKCube": 
        [
            {"axis": "X", "sns": 27265733},
            {"axis": "Y", "sns": 27265718},
            {"axis": "Z", "sns": 27258551}
        ]
    }
}