{
    "Visa Library Path": "@ivi",
    "Instruments":
    {
        "Laser":
        [
            {"visa": "GPIB0::2::INSTR", "class": "LaserSantec", "channels": []}
        ],
        "Power Meter":
        [
            {"visa": "None", "class": "PowerMeterCameraAlvium", "channels": [0], "args":{"camera_id": "DEV_1AB22C0B3989", "roi_x": 0, "roi_y": 0, "roi_width": 0, "roi_height": 0, "merit_unit": "counts"}}
        ],
        "Camera":
        [
            {"visa": "None", "class": "CameraAlliedVisionAlvium", "channels": [0], "args":{"camera_id": "DEV_1AB22C0B3989", "timeout_ms": 5000}}
        ]
    },
    "Mover":
    {
        "ThorlabsKCube":
        [
            {"axis": "X", "sns": 27258584},
            {"axis": "Y", "sns": 27258581},
            {"axis": "Z", "sns": 27258547}
        ]
    }
}
