{
    "Visa Library Path": "@ivi",
    "Instruments":
    {
        "Laser":
        [
            {"visa": "GPIB0::23::INSTR", "class": "LaserMainframeKeysight", "channels": [0]},
            {"visa": "GPIB0::21::INSTR", "class": "LaserMainframeKeysight", "channels": [0]},
            {"visa": "GPIB0::14::INSTR", "class": "LaserMainframeKeysight", "channels": [0]},
            {"visa": "GPIB0::2::INSTR", "class": "LaserSantec", "channels": []}
        ],
        "Power Meter":
        [
            {"visa": "None", "class": "PowerMeterKoheronPD10R", "channels": [0], "args":{"lj_port": "AIN0"}},
            {"visa": "None", "class": "PowerMeterKoheronPD10R", "channels": [1], "args":{"lj_port": "AIN1"}},
            {"visa": "None", "class": "PowerMeterKoheronPD10R", "channels": [2], "args":{"lj_port": "AIN2"}},
            {"visa": "None", "class": "PowerMeterKoheronPD10R", "channels": [3], "args":{"lj_port": "AIN3"}},
            {"visa": "None", "class": "PowerMeterCameraAlvium", "channels": [0], "args":{"camera_id": "DEV_1AB22C0B3989", "pixel_format": "Mono8", "exposure_time": 5000.0, "gain": 0.0, "roi_x": 0, "roi_y": 0, "roi_width": 0, "roi_height": 0, "merit_unit": "counts"}}
        ],
        "Switch":
        [
            {"visa": "None", "class": "SwitchDiconGP800", "channels": [0], "args":{"hostname": "gp800-ea6a", "port": 22, "username": "gp800admin", "password": "gp800admin"}}
        ],
        "OVA":
        [
            {"visa": "None", "class": "OpticalVectorAnalyzer", "channels": [0]}
        ],
        "PowerSupply":
        [
            {"visa": "GPIB0::27::INSTR", "class": "PowerSupplyKiethley", "channels": [0]}
        ],
        "Camera":
        [
            {"visa": "None", "class": "CameraAlliedVisionAlvium", "channels": [0], "args":{"camera_id": "DEV_1AB22C0B3989", "pixel_format": "Mono8", "exposure_time": 10000.0, "gain": 0.0, "roi": [0, 0, 0, 0], "timeout_ms": 5000}}
        ]
    },
    "Mover":
    {
        "ThorlabsKCube":
        [
            {"axis": "X", "sns": 27258584},
            {"axis": "Y", "sns": 27258581},
            {"axis": "Z", "sns": 27258547}
        ]
    }
}
