{
    "Visa Library Path": "@py",
    "Instruments":
    {
        "Laser":
        [
            {"visa": "GPIB0::21::INSTR", "class": "LaserMainframeKeysight", "channels": [0]}
        ],
        "Power Meter":
        [
            {"visa": "None", "class": "PowerMeterNewport2103", "channels": [0], "args":{"lj_port": "AIN0","wavelength": "1.55"}},
            {"visa": "GPIB0::24::INSTR", "class": "PowerSupplyKeithley", "channels": [0], "args":{}}
        ],
        "Power Supply":
        [
            {"visa": "GPIB0::6::INSTR", "class": "SupplyAgilentE3631A", "channels": [0], "args":{"voltage_lim_0": "1.6", "voltage_lim_1": "1.6","current_lim": "0.08"}},
            {"visa": "GPIB0::5::INSTR", "class": "SupplyAgilentE3631A", "channels": [0], "args":{"voltage_lim_0": "1.6", "voltage_lim_1": "1.6","current_lim": "0.08"}}
        ],
        "Spectrum Analyzer":
        [           
            {"visa": "GPIB0::20::INSTR", "class": "FSUESA", "channels": [0], "args":{}}
        ],
        "Signal Generator":
        [
            {"visa": "GPIB0::19::INSTR", "class": "SigGenAgilent83640L", "channels": [0], "args":{}},
            {"visa": "GPIB0::18::INSTR", "class": "SigGen83712B", "channels": [0], "args":{}}
        ]
    }
}