{
    "Visa Library Path": "@py",
    "Instruments":
    {
        "Attenuator":
        [
            {"visa": "", "class": "OptAttenHP8156A", "channels": [0]}
        ],
        "UXR":
        [
            {"visa": "", "class": "UXR", "channels": ['1', '2', '3', '4']}
        ],
        "Power Supply":
        [
            {"visa": "", "class": "SupplyAgilentE3631A", "channels": [0]}
        ]
    }
}