{
    "Visa Library Path": "@py",
    "Instruments":
    {
        "Attenuator":
        [
            {"visa": "GPIB0::27::INSTR", "class": "OptAttenHP8156A", "channels": [0]},
            {"visa": "GPIB0::30::INSTR", "class": "OptAttenHP8156A", "channels": [0]}
        ],
        "UXR":
        [
            {"visa": "TCPIP0::169.254.187.212::hislip0::INSTR", "class": "UXR", "channels": [0]}
        ],
        "Power Supply":
        [
            {"visa": "GPIB0::6::INSTR", "class": "SupplyAgilentE3631A", "channels": [0]}
        ]
    }
}